<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Who we are</title>
    <%- include("../../includes/head") %>
    <script
      src="/scripts/responsive/responsive-header-script.js"
      defer
    ></script>
    <link rel="canonical" href="https://occiris.com/our-philosophy" />
  </head>
  <body>
    <header>
      <%- include("../../includes/header") %> <%-
      include("../../includes/header-side-menu") %>
      <link rel="stylesheet" href="/styles/our-mission.css" />
    </header>
    <main>
      <%- include("../../includes/side-menu") %>
      <section class="flex-text-and-image">
        <div class="text-container">
          <h5 class="small-preceding-title">Our Mission</h5>
          <h2 class="large-title-flex-info">Making video accessible</h2>
          <p>
            At Occiris, our mission is to help YouTube creators maximize both
            their reach and viewer engagement. We do this by creating high
            quality closed captions for their videos.
          </p>
          <p>
            For you, as a creator, this means that people who previously
            couldn’t engage with your content get a way to!
          </p>
          <p>
            For hard-of-hearing audiences, this means that every sound that’s
            relevant to the story is easily readable on-screen. We don’t only
            caption dialogue!
          </p>
          <p>
            For people who don’t speak English, this means that they can easily
            hit the auto-translate button on the YouTube player and get to
            experience the video in their own language. The translations are
            shockingly good!
          </p>
        </div>
        <div class="image-container">
          <img src="/images/our-mission.jpg" alt="" />
        </div>
      </section>
      <section>
        <h2 class="section-title">Occiris at a glance</h2>
        <div class="flex-statistics">
          <div>
            <h2>10+</h2>
            <p>team members</p>
          </div>
          <div>
            <h2>7+</h2>
            <p>years in the industry</p>
          </div>
          <div>
            <h2>100,000+</h2>
            <p>minutes captioned</p>
          </div>
          <div>
            <h2>100+</h2>
            <p>happy customers</p>
          </div>
        </div>
      </section>
      <section class="flex-text-and-image">
        <div class="text-container">
          <h5 class="small-preceding-title">Our Service Guidelines</h5>
          <h2 class="large-title-flex-info">Speed, Accuracy, Convenience</h2>
          <p>
            Our captioners work with AI to get your closed captions delivered
            fast with high levels of accuracy. We know you work hard creating
            high quality videos. We work hard to make them accessible to a wide
            audience. And it is our aim to make our processes as smooth as
            possible.
          </p>
        </div>
        <div class="image-container">
          <img src="/images/service-guidelines.jpg" alt="" />
        </div>
      </section>
      <section class="grey-background-section">
        <h2 class="section-title" style="color: #2f8481">Meet the team!</h2>
        <p class="centered-paragraph">
          We are currently a team of 13, united in the mission of making video
          accessible to as many people as possible. We’re delighted to have
          helped over 100 creators maximize their reach.
        </p>
        <div class="team-row">
          <div class="team-member">
            <img
              src="/images/george.jpg"
              alt="photo of George, co-founder and CEO"
            />
            <h5>George</h5>
            <p>Co-founder, CEO</p>
          </div>
          <div class="team-member">
            <img
              src="/images/ka'ki.jpg"
              alt="photo of Chris, co-founder and COO"
            />
            <h5>Chris</h5>
            <p>Co-founder, COO</p>
          </div>
          <div class="team-member">
            <img
              src="/images/kanesa-3.jpg"
              alt="photo of Nora, co-founder and CCO"
            />
            <h5>Norah</h5>
            <p>Co-founder, CCO</p>
          </div>
          <div class="team-member">
            <img
              src="/images/bianca.jpg"
              alt="photo of Bianca, co-founder and CFO"
            />
            <h5>Bianca</h5>
            <p>Co-founder, CFO</p>
          </div>
        </div>
      </section>
    </main>
    <footer><%- include("../../includes/footer") %></footer>
  </body>
</html>
