<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../includes/head") %>
    <link rel="stylesheet" href="/styles/guides.css" />
    <link
      rel="canonical"
      href="https://occiris.com/auto-tranlate-captions-viewing"
    />
    <meta
      name="description"
      content="Automatically translate YouTube captions into 100+ languages; a guide."
    />
    <script
      src="/scripts/responsive/responsive-header-script.js"
      defer
    ></script>
    <title>Translate YouTube captions while viewing</title>
  </head>
  <body>
    <header><%- include("../includes/header") %></header>
    <%- include("../includes/header-side-menu") %>
    <main>
      <%- include("../includes/side-menu") %>
      <section class="main-section">
        <h3>How to auto-translate closed captions during viewing</h3>
        <p>Do it in three easy steps! Number four tells you how to undo it.</p>
        <ol>
          <li>
            Open the video you want to watch and look for the "CC" at the bottom
            of the video screen icon. If the icon is grayed out, it means that
            the video doesn't have any captions available and translations will
            also be unavailable.
          </li>
          <li>
            If the "CC" icon isn't grayed out though, click on the gear icon
            next to it, then <strong>Subtitles</strong>, scroll to the bottom
            and hit the <strong>Auto-translate</strong> button.
          </li>
          <li>
            Select the language you want to translate the captions into. YouTube
            will automatically translate the captions into the selected
            language. Translations for popular languages like Spanish could have
            an accuracy as high as 94%. The creator needs to have uploaded high
            quality English captions with a high accuracy to get this though.
          </li>
          <li>
            If you want to turn off the auto-translate feature, simply go
            through step number two and three above and at the end, choose Off
            or the original language that was set.
          </li>
        </ol>
        <p>
          That's it! You can now watch YouTube videos in any language, with
          automatic translation of the captions. If you need high quality
          English closed captions that will give viewers great quality
          translations, click <a href="/order/captions">here</a> to make an
          order with us.
        </p>
      </section>
      <section class="other-guides">
        <h5>Other guides</h5>
        <ul>
          <li>
            <a href="/guides/how-to-add-closed-captions"
              >How to add closed captions to your YouTube video</a
            >
          </li>
          <li>
            <a href="/guides/auto-tranlate-captions-upload"
              >Auto-translate captions during uploads</a
            >
          </li>
        </ul>
      </section>
    </main>
    <footer><%- include("../includes/footer") %></footer>
  </body>
</html>
