<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../includes/head") %>
    <link rel="stylesheet" href="/styles/guides.css" />
    <link
      rel="canonical"
      href="https://occiris.com/auto-tranlate-captions-upload"
    />
    <script
      src="/scripts/responsive/responsive-header-script.js"
      defer
    ></script>
    <title>Auto-translate captions</title>
  </head>
  <body>
    <header><%- include("../includes/header") %></header>
    <%- include("../includes/header-side-menu") %>
    <main>
      <%- include("../includes/side-menu") %>
      <section class="main-section">
        <h3>How to auto-translate closed captions before you upload them</h3>
        <p>
          YouTube has recently added the ability to auto-translate captions
          before you upload them. This is a great way to make your videos
          accessible to a wider audience, as it can help make your videos more
          accessible to people who don’t speak the same language as you.
        </p>
        <p>
          To auto-translate captions before you upload to YouTube, go to Creator
          Studio &gt; Videos &gt; Captions. Select the language you’d like to
          auto-translate the captions to and then click the “Auto-translate”
          button. You’ll then be able to upload the auto-translated captions to
          YouTube.
        </p>
        <p>
          Once you’ve uploaded the auto-translated captions, they’ll be visible
          to viewers in that language. If you’ve uploaded multiple captions in
          different languages, viewers will be able to select the language they
          prefer in the language selector on the video.
        </p>
        <p>
          Auto-translating captions before you upload them to YouTube is a great
          way to make your videos more accessible to a wider audience. Give it a
          try and see the difference it can make!
        </p>
      </section>
      <section class="other-guides">
        <h5>Other guides</h5>
        <ul>
          <li>
            <a href="/guides/how-to-add-closed-captions"
              >How to add closed captions to your YouTube video</a
            >
          </li>

          <li>
            <a href="/guides/auto-tranlate-captions-viewing"
              >Auto-translate captions during viewing</a
            >
          </li>
        </ul>
      </section>
    </main>
    <footer><%- include("../includes/footer") %></footer>
  </body>
</html>
